[submodule "modules/zsh"]
	path = modules/zsh
	url = https://github.com/sorin-ionescu/oh-my-zsh.git
[submodule "modules/vim/bundle/vim-pathogen"]
	path = modules/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "modules/vim/bundle/vim-fugitive"]
	path = modules/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "modules/vim/bundle/solarized"]
	path = modules/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
