[submodule "modules/zsh"]
	path = modules/zsh
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "modules/vim/spf13-vim"]
	path = modules/vim/spf13-vim
	url = git://github.com/spf13/spf13-vim.git
[submodule "modules/vim/bundle/vundle"]
	path = modules/vim/bundle/vundle
	url = git@github.com:gmarik/vundle.git
